<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583712216753-eo4esc68p410tner6ve66d3rhn527c86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583712216753-eo4esc68p410tner6ve66d3rhn527c86</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583712216753-h10b3kmdl0l0rmagoo9sumfun0h3cget.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6IjJc-O4EI6Z_dR-StoOqSvQDTqX7-cY</string>
	<key>GCM_SENDER_ID</key>
	<string>583712216753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.autoly.providerapp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-demo-ed71e</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-demo-ed71e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583712216753:ios:c08d14d84ea5f9c0f3b490</string>
	<key>DATABASE_URL</key>
	<string>https://shopapp-demo-ed71e.firebaseio.com</string>
</dict>
</plist>